<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../Static/bootstrap/assets/fudan_logo.png">

    <title>sign in</title>
    <!-- i have changed all hrefs to my local directory -->
    <!-- Bootstrap core CSS -->
    <link href="../Static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../Static/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../Static/bootstrap/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../Static/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body background="../Static/bootstrap/assets/bg.jpg">

<div class="container">
    <nav class="navbar navbar-fixed-top top-navbar">
        <a href="./index.html" style="float: left; margin-left:15px;margin-top: 2px">
            <img src="../Static/bootstrap/assets/title_logo.png" style="width: 148px; height: 45px">
        </a>
    </nav>
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h3 class="form-signin-heading" align="center">Sign In</h3>

        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username or E-mail" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <!-- here lacks a link to reset password -->
            <a href="resetpsd.html" style='text-decoration:none; float: right;color:initial'>Forget password?</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        <br>
        <h4 class="form-signin-heading" align="center">Don't have an account?</h4>
        <a href="signup.html" style='text-decoration:none;'>
            <button class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
        </a>
    </form>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../Static/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
